* {
    /* border: 1px black solid; */
    padding: 0;
}
.hide{
    display: none;
}

body {
    min-height: 100vh;
    position: relative;
}

header{
    padding: 1em;
}
.header_img {
    width: fit-content;
    height: 2em;
    display: inline-flex;
}
.intro {
    background-color: bisque;
}
.intro_div {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    margin: 0 auto;
    padding: 1em;
}
.intro_img_avatar {
    display: inline-flex;
    height: 5em;
    width: 5em;
    border-radius: 2.5em;
}
.intro_div > div {
    display: flex;
    flex-direction: column;
}
.work {
    margin: 3em auto; 
    width: 80%;
    display: flex;
    flex-direction: column;
}
.work_div {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.work_div_div {
    position: relative;
    margin: 1em 1%;
    width: 15%;
}
.work_img_pic {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1em;
    cursor: pointer;
}
footer {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: bisque;
    left: 0;
    bottom: 0;
}

.bigger {
    position: fixed;
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.bigger_a {
    display: flex;
    font-size: 2em;
    margin: 1% auto;
    max-width: min-content;
    right: 0;
    cursor: pointer;
}
.bigger_img {
    display: flex;
    justify-content: center;
    max-height: 80vh;
    margin: 1% auto;
}

@media only screen and (max-width: 430px) {
    footer {
        position: relative;
    }
    .work_div_div {
        width: 80%;
    }
    .bigger_img {
        max-width: 80vw;
        margin: 5% auto;
    }
}